$header-heading-color: #ECC884 !default;
$header-bg-color: #343434 !default;
$header-bg-color-secondary: #343434 !default;

$section-headings-color: #343434 !default;
$body-text-color: #606c71 !default;
$body-link-color: #343434 !default;
